# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build
build/

# Generated
.pub/
.pub-cache/

# Android
android/.gradle/

# iOS
ios/Pods/

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store