# Binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output Build
/bin/
/dist/
/build/

# Dependency
/vendor/

# Environment
.env
.env.*

# Logs
logs/
*.log

# Temporary
tmp/
temp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db